html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.card{
  cursor: pointer;
}
/* .card:hover{
background-color: #cfcff3;
} */
.label{
  margin: 2px;
  font-weight: 450;
  font-size: 15px;
}